@import "./global";


.box1{
    
    h1{  
        color: $colorGreen;
        font-weight: 900;
        margin: 20px auto;
    }
    button{
        padding: 30px 30px;
        background-color: $colorViole;
        margin: 20px auto;

        &:hover{
            background-color: $colorYellow;
        }
    }
    p{
        line-height: 1.9px;
        font-family: monospace;
        font-size: 14px;
        margin: 20px auto;
    }
}